<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" th:href="@{/}">Clínica Spring Security</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="btn btn-dark dropdown-toggle" href="#" id="dropdown01" 
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrador</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                      <li><a class="dropdown-item" th:href="@{/especialidades}">Especialidades</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" th:href="@{/u/novo/cadastro/usuario}">Cadastro de Usuários</a></li>
                      <li><a class="dropdown-item" th:href="@{/u/lista}">Lista de Usuário</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="btn btn-dark dropdown-toggle" href="#" id="dropdown02" 
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Médicos</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown02">
                      <li><a class="dropdown-item" th:href="@{/medicos/dados}">Dados Cadastrais</a></li>
                      <li><a class="dropdown-item" th:href="@{/u/editar/senha}">Editar Senha</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" th:href="@{/agendamentos/historico/consultas}">Consultas Agendadas</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="btn btn-dark dropdown-toggle" href="#" id="dropdown03" 
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pacientes</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                      <li><a class="dropdown-item" th:href="@{/pacientes}">Cadastrar Dados</a></li>
                      <li><a class="dropdown-item" th:href="@{/u/editar/senha}">Editar Senha</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" th:href="@{/agendamentos/agendar}">Agendar Consulta</a></li>
                      <li><a class="dropdown-item" th:href="@{/agendamentos/historico/paciente}">Histórico de Consultas</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex form-inline px-2">
                    <div class="form-check  mb-2 mr-sm-0">
                      <a class="btn btn-outline-success my-2 my-sm-0" role="button" th:href="@{/login}">Login</a>
                    </div>
                    <div class="form-check px-2 mb-2 mr-sm-2">
                      <a class="btn btn-outline-success my-2 my-sm-0" role="button" th:href="@{/u/novo/cadastro}">Cadastrar-se</a>
                    </div>
                </form>
                <form class="d-flex form-inline mt-2 mt-md-0" th:action="@{/logout}" method="post">
                    <div class="btn-group mb-2 mr-sm-2">
                      <button type="button" class="btn btn-light">
                        <i class="fas fa-user"></i> <span class="">Bob</span>
                      </button>
                      <button type="button"
                              class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </button>
                      <div class="dropdown-menu">
                        <button type="submit" class="dropdown-item">Sair</button>
                      </div>
                    </div>
                </form>
              </div>
            </div>
        </nav>   		
	</header>
</body>
</html>